<!--
<div class="row clearfix">
    <div class="col-sm-12 column">
        <div class="row clearfix">
            <div class="col-sm-3 column">
                <!-- side menu -->
<!--                <div ng-if="true" ng-include="'/views/side.html'" style="border: solid; border-color: yellow"></div>
            </div>
            <div class="col-sm-9 column">
                <!-- contents -->
<!--<div style="border: solid; border-color: green">ym company</div>
</div>
</div>
</div>
</div>


                                폐기?

->