<link href="styles/sub_01.css" rel="stylesheet">

<div class="row clearfix">
    <div class="col-sm-12 column">
        <div class="row clearfix">
            <div class="col-sm-3 column">
                <!-- side menu -->
                <div ng-if="true" ng-include="'/views/side.html'" style="border: none; border-color: yellow"></div>
            </div>
            <div class="col-sm-9 column">
                <!-- contents -->
                <div class="col-md-12 column">
                    <br />
                    <span style="font-size:20px"><strong><span style="font-size:26px">안녕하십니까?</span></strong></span><br />
                    <br />
                    <br />
<span style="font-size:16px">당사 홈페이지를 찾아 주셔서 감사 합니다.<br />
<br />
<strong><span style="color:#ff8c00">(주) 와이 머신</span></strong>은 국내&bull;외 공작기계를 유통하고 있으며,<br />
<br />
최상의 좋은 제품을 엄선하여 <strong>맞춤형 서비스</strong>를 제공 하고 있습니다.<br />
&nbsp;<br />
<br />
다년간의 공작기계를 취급한 <strong>풍부한 경험</strong>과 <strong>지식</strong>으로 <strong>철저한 A/S</strong>를,<br />
<br />
부담 없는 <strong>금융조건</strong>으로 고객 여러분의 마음에 <strong>감동</strong>을 줄 수 있도록 항상 노력하고 있습니다.<br />
&nbsp;<br />
<br />
앞으로도 공작기계 전문 업체인 <strong><span style="color:#ff8c00">(주)와이 머신</span></strong>의 발전과 서비스를 지켜봐 주시길 바라며<br />
<br />
고객님 기대에 어긋나지 않게 최선을 다하겠습니다.<br />
<br />
고객님의 무궁한 발전을 기원 합니다.</span><br />
                    &nbsp;


                </div>

            </div>
        </div>
    </div>
</div>