<link href="styles/sub_04.css" rel="stylesheet">

<div class="row clearfix">
    <div class="col-sm-12 column">
        <div class="row clearfix">
            <div class="col-sm-3 column">
                <!-- side menu -->
                <div ng-if="true" ng-include="'/views/sidebar1.html'" style="border: none; border-color: yellow"></div>
            </div>
            <div class="col-sm-9 column">
                <!-- contents -->
                <div class="col-md-12 column">
                장비 등록 관련 Template
                </div>

            </div>

        </div>
    </div>
</div>
</div>