<link href="styles/sub_04.css" rel="stylesheet">

<div class="row clearfix">
    <div class="col-sm-12 column">
        <div class="row clearfix">
            <div class="col-sm-3 column">
                <!-- side menu -->
                <div ng-if="true" ng-include="'/views/sidebar1.html'" style="border: none; border-color: yellow"></div>
            </div>
            <div class="col-sm-9 column">
                <!-- contents -->
                <div class="col-md-12 column">
                    <h3><a href="#"><img src="images/menu_icon_01.png"> 신제품소개</a></h3>
                    <!--신제품 리스트-->
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="media">
                                <a href="#ym/product/new/:id" class="pull-left"><img src="images/new_01.png" class="img-thumbnail" alt=''
                                                                   style="width:128px; height:100px;"/></a>

                                <div class="media-body">
                                    <h4 class="media-heading"> 쓰가미 B073-Ⅱ,74-Ⅱ,123-Ⅱ,124-Ⅱ,203-Ⅱ,204-Ⅱ </h4> 고기능, 저가형
                                    스위스 CNC 자동선반(3,4축의 2가지 타입으로 가공물에 맞는 최적의 ...
                                </div>
                            </div>
                            <div class="media">
                                <a href="#ym/product/new/:id" class="pull-left"><img src="images/new_02.png" class="img-thumbnail" alt=''
                                                                   style="width:128px; height:100px;"/></a>

                                <div class="media-body">
                                    <h4 class="media-heading"> 쓰가미 B0125-Ⅱ,205-Ⅱ </h4> 배면 주축과 배면 전용 공구대에 의해 정면, 배면의 동시
                                    가공이 가능
                                </div>
                            </div>
                            <div class="media">
                                <a href="#ym/product/new/:id" class="pull-left"><img src="images/new_03.png" class="img-thumbnail" alt=''
                                                                   style="width:128px; height:100px;"/></a>

                                <div class="media-body">
                                    <h4 class="media-heading"> 쓰가미 B0126-Ⅱ,206-Ⅱ </h4> Y축 배면공구대로, 배면복합가공과 주축에서의 완전 오버랩
                                    가공이 가능.
                                </div>
                            </div>
                            <div class="media">
                                <a href="#ym/product/new/:id" class="pull-left"><img src="images/new_04.png" class="img-thumbnail" alt=''
                                                                   style="width:128px; height:100px;"/></a>

                                <div class="media-body">
                                    <h4 class="media-heading"> 쓰가미 B0265-Ⅱ,265-Ⅱ,266-Ⅱ,325-Ⅱ,325B-Ⅱ,326-Ⅱ
                                    </h4> 자동 프로그래밍 소프트를 표준으로 부속
                                </div>
                            </div>
                            <div class="media">
                                <a href="#ym/product/new/:id" class="pull-left"><img src="images/new_05.png" class="img-thumbnail" alt=''
                                                                   style="width:128px; height:100px;"/></a>

                                <div class="media-body">
                                    <h4 class="media-heading"> 쓰가미 S205,206 </h4> 후면공구대 회전공구, 배면공구대 회전공구는 커트리지식으로 워크에 맞춘
                                    자유자재한...
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row clearfix">
                        <div class="col-md-10">
                            <div class="column paginationcenter">
                                <ul class="pagination" style="width:100000px;">
                                    <!-- style="width:100000px;" 는 페이지네이션이 화면 크기가 작아질경우 2줄로 바뀌는 것을 방지//-->
                                    <li>
                                        <a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
                                    </li>
                                    <li>
                                        <a href="#">1</a>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                    <li>
                                        <a href="#">4</a>
                                    </li>
                                    <li>
                                        <a href="#">5</a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 column">
                            <a href="#ym/product/new/write">
                                <button type="button" class="btn btn-write pull-right">
                                  장비등록
                                </button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>