<link href="styles/sub_03.css" rel="stylesheet">

<div class="container cont01">
    <div class="row clearfix">
        <div class="col-md-3 column">
                <div ng-if="true" ng-include="'/views/sidebar2.html'" style="border:none; border-color: yellow"></div>
        </div>
        <div class="col-md-9 column">
            <!--추천매물 -->
            <h3><a href="#"><img src="images/menu_icon_01.png"> 와이머신 추천매물</a></h3>
            <div class="row recom">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="#ym/product/used/detail"> <img alt="중고장비1" src="images/u-machine01.png"  style="width:157px; height:106px;">
                            <div class="caption">
                                <h4> 중고장비1 </h4>
                                <p>
                                    2014년식
                                </p>

                            </div></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="#"> <img alt="중고장비2" src="images/u-machine02.png"  style="width:157px; height:106px;">
                            <div class="caption">
                                <h4> 중고장비2 </h4>
                                <p>
                                    2014년식
                                </p>
                            </div></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="#"> <img alt="중고장비3" src="images/u-machine03.png"  style="width:157px; height:106px;">
                            <div class="caption">
                                <h4> 중고장비3 </h4>
                                <p>
                                    2014년식
                                </p>
                            </div></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="#"> <img alt="중고장비4" src="images/u-machine04.png"  style="width:157px; height:106px;">
                            <div class="caption">
                                <h4> 중고장비4 </h4>
                                <p>
                                    2014년식
                                </p>
                            </div></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="#"> <img alt="중고장비5" src="images/u-machine05.png" style="width:157px; height:106px;">
                            <div class="caption">
                                <h4> 중고장비5 </h4>
                                <p>
                                    2014년식
                                </p>
                            </div></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="#"> <img alt="중고장비6" src="images/u-machine06.png"  style="width:157px; height:106px;">
                            <div class="caption">
                                <h4> 중고장비6 </h4>
                                <p>
                                    2014년식
                                </p>
                            </div></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="#"> <img alt="중고장비7" src="images/u-machine07.png"  style="width:157px; height:106px;">
                            <div class="caption">
                                <h4> 중고장비7 </h4>
                                <p>
                                    2014년식
                                </p>
                            </div></a>
                    </div>
                </div>
            </div>
            <!--추천매물 끝-->
            <!--중고장비 리스트-->
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="images/cnc02_01.png" class="img-thumbnail" alt style="width:128px; height:100px;"/>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"> 한국공작기계 중고장비2 </h4> 중고장비2입니다
                        </div>
                    </div>
                    <div class="media">
                        <a href="#" class="pull-left"><img src="images/cnc02_02.png" class="img-thumbnail" alt='' style="width:128px; height:100px;"/></a>
                        <div class="media-body">
                            <h4 class="media-heading"> 삼성 중고장비3 </h4> 중고장비3입니다
                        </div>
                    </div>
                    <div class="media">
                        <a href="#" class="pull-left"><img src="images/cnc02_03.png" class="img-thumbnail" alt='' style="width:128px; height:100px;"/></a>
                        <div class="media-body">
                            <h4 class="media-heading"> 한국공작기계 중고장비7 </h4> 중고장비7입니다
                        </div>
                    </div>
                    <div class="media">
                        <a href="#" class="pull-left"><img src="images/cnc02_04.png" class="img-thumbnail" alt='' style="width:128px; height:100px;"/></a>
                        <div class="media-body">
                            <h4 class="media-heading"> 두산인프라코어 중고장비3 </h4> 중고장비5입니다
                        </div>
                    </div>
                    <div class="media">
                        <a href="#" class="pull-left"><img src="images/cnc02_05.png" class="img-thumbnail" alt='' style="width:128px; height:100px;"/></a>
                        <div class="media-body">
                            <h4 class="media-heading"> 한국공작기계 중고장비6 </h4> 중고장비6입니다
                        </div>
                    </div>
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-md-10 column">
                <div class= "paginationcenter">
                    <ul class="pagination" STYLE="WIDTH:3000PX;">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </li>

                    </ul>
                </div>
                </div>
                <div class="col-md-2 column">
                    <a href="#ym/product/used/write">
                        <button type="button" class="btn btn-write pull-right">
                        장비등록
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>