<link href="styles/sub_06.css" rel="stylesheet">

<div class="container cont01">
    <div class="row clearfix">
        <div class="col-md-3 column">
            <div ng-if="true" ng-include="'/views/sidebar2.html'" style="border:none; border-color: yellow"></div>
        </div>

        <!--본문내용-->
        <div class="col-md-9 column">
            <!--장비등록 -->
            <div class="row clearfix tb01">
                <div class="col-md-12 column">
                    <h3><img src="images/icon_02.png"> 장비등록</h3>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th> 장비명 </th>
                            <td>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control input-sm" id="#" />
                                </div></td>
                            <th> 제조사 </th>
                            <td>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control input-sm" id="#" />
                                </div></td>
                        </tr>
                        <tr>
                            <th> 장비설명 </th>
                            <td colspan="3">
                                <div class="col-sm-12">
                                    <textarea class="form-control" rows="3"></textarea>
                                </div></td>
                        </tr>
                        <tr>
                            <th> 첨부파일 </th>
                            <td colspan="3">
                                <input type="file" id="#" />
                            </td>
                        </tr>
                        <tr>
                            <th> 파일리스트 </th>
                            <td colspan="3"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--규격 지정 -->
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h3><img src="images/icon_02.png"> 규격지정</h3>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th> 규격 명칭 </th>
                            <td>
                                <input type="text" class="form-control input-sm" id="#" />
                            </td>
                            <th> 규격 단위 </th>
                            <td>
                                <input type="text" class="form-control input-sm" id="#" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-write pull-right">
                        규격 항목 추가
                    </button>
                </div>
            </div>
            <!--모델 등록-->
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h3><img src="images/icon_02.png"> 모델등록</h3>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th> 모델명 </th>
                            <td colspan="3">
                                <input type="text" class="form-control input-sm" id="#" />
                            </td>
                        </tr>
                        <th> 제조일 </th>
                        <td>
                            <input type="date" class="form-control input-sm" id="#" />
                        </td>
                        <th> 가격 </th>
                        <td>
                            <input type="text" class="form-control input-sm" id="#" />
                        </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-write pull-right">
                        등록
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>