<div class="footer-wrapper">
    <div class="container footercontainer">
        <div class="col-md-12 column">
            <ul class="breadcrumb text-center" style="background-color: white;">
                <li>
                    <a href="#">TSUGAMI</a><span class="divider"></span>
                </li>
                <li>
                    <a href="#">머시닝센터</a><span class="divider"></span>
                </li>
                <li>
                    <a href="#">CNC선반</a><span class="divider"></span>
                </li>
                <li>
                    <a href="#">보링머신</a><span class="divider"></span>
                </li>
                <li>
                    <a href="#">복합기</a><span class="divider"></span>
                </li>
                <li>
                    <a href="#">와이어컷팅</a><span class="divider"></span>
                </li>
                <li>
                    <a href="#">범용선반</a><span class="divider"></span>
                </li>
                <li>
                    <a href="#">범용밀링</a><span class="divider"></span>
                </li>
                <li>
                    <a href="#">레디알</a><span class="divider"></span>
                </li>
                <li>
                    <a href="#">성형연삭기</a><span class="divider"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 column">
            <address class="text-center">
                <strong>와이머신</strong> &Iota; 대표자명 : 이인영 &Iota; 연락처 : 031) 8041-8245 &Iota; 팩스번호 : 031) 8041-8246
                <br/>
                회사주소 : 경기도 시흥시 오이도로 21, 205(정왕동,스틸랜드에스비센타) &Iota; 사업자번호 : 140-81-82726
                <br/>
                copyright (c) 2014 와이머신 ALL RIGHTS RESERVED.<abbr title="Phone">P:</abbr> 070-8857-7889
            </address>
        </div>
    </div>
</div>