<!-- 신제품 소개 메뉴를 위한 임시 사이드바 -->


<div class="col-md-12 column">
    <dl class="nav nav-stacked nav-pills">
        <dt class="title text-center">
            <a href="#ym/product/new/list">신제품소개</a>
        </dt>
        <dd>
            <a href="#ym/product/new/list"><span class="glyphicon glyphicon-ok"></span> TSUGAMI</a>

        </dd>
        <dd class="active sub-menu">
            <a href="#ym/product/new/:id"> 자동선반</a>
        </dd>
        <dd class="sub-menu">
            <a href="#ym/product/new/:id"> 머시닝센터</a>
        </dd>
        <dd class="sub-menu">
            <a href="#ym/product/new/:id"> 연삭반</a>
        </dd>
        <dd class="sub-menu">
            <a href="#ym/product/new/:id"> 전조반</a>
        </dd>
        <dd>
            <a href="#ym/product/new/:id"><span class="glyphicon glyphicon-ok"></span> 머시닝센터</a>
        </dd>
        <dd class="sub-menu">
            <a href="#ym/product/new/:id"> 수직형 머시닝센터</a>
        </dd>
        <dd class="sub-menu">
            <a href="#ym/product/new/:id"> 수평형 머시닝센터</a>
        </dd>
        <dd>
            <a href="#ym/product/new/:id"><span class="glyphicon glyphicon-ok"></span> CNC선반</a>
        </dd>
        <dd class="sub-menu">
            <a href="#ym/product/new/:id"> 수평형 CNC선반</a>
        </dd>
        <dd class="sub-menu">
            <a href="#ym/product/new/:id"> 수직형 CNC선반</a>
        </dd>
        <dd>
            <a href="#ym/product/new/:id"><span class="glyphicon glyphicon-ok"></span> 보링머신</a>
        </dd>
        <dd>
            <a href="#ym/product/new/:id"><span class="glyphicon glyphicon-ok"></span> 복합기</a>
        </dd>
        <dd>
            <a href="#ym/product/new/:id"><span class="glyphicon glyphicon-ok"></span> 와이어컷팅</a>
        </dd>
        <dd>
            <a href="#ym/product/new/:id"><span class="glyphicon glyphicon-ok"></span> 범용선반</a>
        </dd>
        <dd>
            <a href="#ym/product/new/:id"><span class="glyphicon glyphicon-ok"></span> 범용밀링</a>
        </dd>
        <dd>
            <a href="#ym/product/new/:id"><span class="glyphicon glyphicon-ok"></span> 레디알</a>
        </dd>
        <dd>
            <a href="#ym/product/new/:id"><span class="glyphicon glyphicon-ok"></span> 성형연삭기</a>
        </dd>
        <dd>
            <a href="#ym/product/new/:id"><span class="glyphicon glyphicon-ok"></span> 수직형 CNC선반</a>
        </dd>

    </dl>
</div>
