<!-- 중고제품 메뉴를 위한 임시 사이드바 -->


<dl class="nav nav-stacked nav-pills">
    <dt class="title text-center">
        <a href="#">중고제품</a>
    </dt>
    <dd>
        <a href="#"><span class="glyphicon glyphicon-ok"></span> 머시닝센터</a>
    </dd>
    <dd class="active">
        <a href="#"><span class="glyphicon glyphicon-ok"></span> CNC선반</a>
    </dd>
    <dd class="sub-menu">
        <a href="#"> 수평형 CNC 선반</a>
    </dd>
    <dd class="sub-menu">
        <a href="#"> 수직형 CNC 선반</a>
    </dd>
    <dd>
        <a href="#"><span class="glyphicon glyphicon-ok"></span> 범용밀링</a>
    </dd>
    <dd>
        <a href="#"><span class="glyphicon glyphicon-ok"></span> 범용선반</a>
    </dd>
    <dd>
        <a href="#"><span class="glyphicon glyphicon-ok"></span> 연마기</a>
    </dd>
    <dd>
        <a href="#"><span class="glyphicon glyphicon-ok"></span> 기타</a>
    </dd>
    <dd>
        <a href="#"><span class="glyphicon glyphicon-ok"></span> 현장사용중인매물</a>
    </dd>

</dl>
<!--카테고리 편집 버튼-->
<button type="button" class="btn btn-write pull-right">
    카테고리 편집
</button>
