<link href="styles/sub_01.css" rel="stylesheet">
<link href="styles/business.css" rel="stylesheet">
<link href="styles/common.css" rel="stylesheet">


<div class="row clearfix">
    <div class="banner">
        <img src="images/lease-img/banner.png" alt="금융리스배너" class="center-block">
    </div>
</div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-3 column">
            <dl class="nav nav-stacked nav-pills">
                <dt class="title text-center">
                    <a href="lease#/lease/introduce">회사소개</a>

                </dt>
                <dd>
                    <a href="lease#/lease/introduce"><span class="glyphicon glyphicon-ok"></span> 인사말</a>
                </dd>
                <dd>  <!--class="active"//-->
                    <a href="lease#/lease/direction"><span class="glyphicon glyphicon-ok"></span> 오시는 길</a>
                </dd>

            </dl>
        </div>
        <div class="col-md-9 column">

                <dl class="address">
                    <dt>
                        본사주소
                    </dt>
                    <dd>
                        경기도 시흥시 오이도 길 21번지 SB동 205호
                    </dd>
                    <dt>
                        대표전화
                    </dt>
                    <dd>
                        031-8041-8245
                    </dd>
                    <dt>
                        FAX
                    </dt>
                    <dd>
                        031-8041-8246
                    </dd>
                    <dt>
                        약도
                    </dt>
                    <dd>
                        <div id="map"></div>
                    </dd>
                </dl>

        </div>
    </div>
</div>