<link href="styles/sub_01.css" rel="stylesheet">

<link href="styles/business.css" rel="stylesheet">
<div class="row clearfix">
    <div class="banner">
        <img src="images/lease-img/banner.png" alt="금융리스배너" class="center-block">
    </div>
</div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3><img src="images/menu_icon_01.png"> 담보 및 운전자금</h3>
            <div class="row clearfix">
                <div class="col-md-1 column"></div>
                <div class="col-md-10 column">
                    <dl>
                        <dt>
                            <span class="glyphicon glyphicon-chevron-right"></span> 기계 담보대출
                        </dt>
                        <dd class="well">
                            <ul>
                                <li>
                                    기존 현금 보유 장비를 담보로 시세 대비 80~100% 금융 지원
                                </li>
                                <li>
                                    물건 조건 : 대상물건의 권리침해 및 이해관계가 없는 순수 현금구매 물건에 한함
                                </li>
                                <li class="list-unstyled">
                                    &middot; 리스 종료, 담보 설정 해지 물건은 취급 가능
                                </li>
                            </ul>
                        </dd>
                        <dt>
                            <span class="glyphicon glyphicon-chevron-right"></span> 기계 담보대출
                        </dt>
                        <dd class="well">
                            <ul>
                                <li>
                                    신용 대출 및 각종 담보대출 등의 금융상품을 활용하여 기업의 운영 자금을 지원 하는 상품입니다
                                </li>
                            </ul>
                        </dd>

                        <dt>
                            <span class="glyphicon glyphicon-chevron-right"></span> 취급조건
                        </dt>
                        <dd class="well">
                            <ul>
                                <li>
                                    본인이 소유 하고 있는 장비 및 담보 물건에 한함
                                </li>
                                <li>
                                    대출 한도: 60% ~ 80% 이내
                                </li>
                                <li>
                                    대출 기간: 12 ~ 48 개월
                                </li>
                                <li>
                                    상환 방법: 1개월 후불 원리금 균등 상환 및 1금융권 (거치 + 원금) 상환 방법
                                </li>
                                <li class="list-unstyled">
                                    *상품조건은 시장 상황 및 사정에 따라 변동 될 수 있습니다
                                </li>
                            </ul>
                        </dd>

                    </dl>

                </div>
                <div class="col-md-1 column"></div>
            </div>
        </div>
    </div>
</div>

