<link href="styles/business.css" rel="stylesheet">
<div class="row clearfix">
    <div class="banner">
        <img src="images/lease-img/banner.png" alt="금융리스배너" class="center-block">
    </div>
</div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-3 column">
            <dl class="nav nav-stacked nav-pills">
                <dt class="title text-center">
                    <a href="lease#/lease/introduce">회사소개</a>

                </dt>
                <dd>
                    <a href="lease#/lease/introduce"><span class="glyphicon glyphicon-ok"></span> 인사말</a>
                </dd>
                <dd>  <!--class="active"//-->
                    <a href="lease#/lease/direction"><span class="glyphicon glyphicon-ok"></span> 오시는 길</a>
                </dd>

            </dl>
        </div>
        <div class="col-md-9 column">
            <h2> 안녕하십니까? </h2>

            <p class="intro">
                당사 홈페이지를 찾아 주셔서 감사 합니다.
                <br>
                <span class="text01">(주) Y(yes) 리스</span>는 은행 및 신용보증기관 출신들과<br>
                공작기계 매매업에 종사한 유경험자들이 모여서 국내 유수의 캐피탈사와 AGENCY 계약을 체결하고 <span class="text02"> 금융리스</span> 및 <span
                    class="text02"> 할부금융</span> 을 전문적으로 취급하고 있습니다.
            </p>

            <p class="intro">
                기계장비설비 구입시 공급자 및 이용자 고객을 위해 최선을 다하며,
                별도 담보없이 구입장비와 기업체의 신용만으로 <span class="text02">리스,렌탈</span>및 <span class="text02">할부금융</span>의 취급이 가능하며
                신속하고 간편한 이용절차를 통해 편리하게 캐피탈사의 금융지원을 받으실 수 있도록
                각종 편의를 제공하고 있습니다.
            </p>

            <p class="intro">
                <span class="text01">(주)Y(yes) 리스</span>는 <span class="text02">고객의 이익이 무엇보다 최우선시 되어야 한다</span>는
                <br>
                경영방침에 따라
                고객 여러분에게 최선의 금융서비스를 제공할 것을 약속드립니다.
                앞으로도 각별한 관심과 애정을 가지고 지켜봐 주시길 바랍니다.
            </p>
        </div>
    </div>
</div>