<!--container-->
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Site map</a>
                        </li>
                        <li>
                            <a href="#">Log-in</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<!--</div>-->

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-2 column">
                    <dl class="nav nav-stacked nav-pills">
                        <dt class="title text-center">
                            <a href="#ym/">회사소개</a>
                        </dt>
                        <dd>
                            <a href="#ym/company/introduce">인사말</a>
                        </dd>
                        <dd>
                            <a href="#ym/company/direction">오시는 길</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-2 column">
                    <dl class="nav nav-stacked nav-pills">
                        <dt class="title text-center">
                            <a href="#">신제품소개</a>
                        </dt>
                        <dd>
                            <a href="#"> TSUGAMI</a>
                        </dd>
                        <dd>
                            <a href="#"> 머시닝센터</a>
                        </dd>
                        <dd>
                            <a href="#"> CNC선반</a>
                        </dd>
                        <dd>
                            <a href="#"> 보링머신</a>
                        </dd>
                        <dd>
                            <a href="#"> 복합기</a>
                        </dd>
                        <dd>
                            <a href="#"> 와이어컷팅</a>
                        </dd>
                        <dd>
                            <a href="#"> 범용선반</a>
                        </dd>
                        <dd>
                            <a href="#"> 범용밀링</a>
                        </dd>
                        <dd>
                            <a href="#"> 레디알</a>
                        </dd>
                        <dd>
                            <a href="#"> 성형연삭기</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-2 column">
                    <dl class="nav nav-stacked nav-pills">
                        <dt class="title text-center">
                            <a href="#">중고제품</a>
                        </dt>
                        <dd>
                            <a href="#"> 머시닝센터</a>
                        </dd>
                        <dd>
                            <a href="#"> CNC선반</a>
                        </dd>
                        <dd>
                            <a href="#"> 범용밀링</a>
                        </dd>
                        <dd>
                            <a href="#"> 범용선반</a>
                        </dd>
                        <dd>
                            <a href="#"> 연마기</a>
                        </dd>
                        <dd>
                            <a href="#"> 기타</a>
                        </dd>
                        <dd>
                            <a href="#"> 현장사용중인매물</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-2 column">
                    <dl class="nav nav-stacked nav-pills">
                        <dt class="title text-center">
                            <a href="#">고객문의</a>
                        </dt>
                        <dd>
                            <a href="#ym/request/new"> 문의사항쓰기</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-2 column">
                    <dl class="nav nav-stacked nav-pills">
                        <dt class="title text-center">
                            <a href="#">중고장비</a>
                        </dt>
                        <dd>
                            <a href="#ym/request/used/write"> 중고장비등록</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-2 column">
                    <dl class="nav nav-stacked nav-pills">
                        <dt class="title text-center">
                            <a href="#">공지사항</a>
                        </dt>
                        <dd>
                            <a href="#ym/notice/list">공지사항</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>